

img{
  max-width: 20px;
  float: right;
}

li{
  list-style-type: none;
}

.octocat{
  float: left;
}

.image-footer{
}

.image-caption{
  margin-right: 5px;
  float: right;
  width: 232px;
  height: 25px;
  font-size: x-small;
  text-align: right;
  border-bottom: 1px solid #cccccc;
}

.image-number{
  color: grey;
  font-size: x-small;
  float: left;
  margin-left: 5px;
  border-bottom: 1px solid #cccccc;
  height: 25px;
}

.authors{
  float: right;
}

.cat{
  max-width: 250px;
  border: 1px solid #cccccc;
  margin: 5px;
}