

img{
  max-width: 20px;
  float: right;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: grey;
}

.octocat{
  float: left;
}

.image-footer{
}

.image-caption{
  margin-right: 5px;
  float: right;
  width: 226px;
  height: 25px;
  font-size: small;
  text-align: right;
  color: #cccccc;
  border-bottom: 1px solid #cccccc;
}

.image-number{
  color: #cccccc;
  font-size: small;
  float: left;
  margin-left: 5px;
  height: 25px;
  border-bottom: 1px solid #cccccc;
}

.authors{
  float: right;
}

.cat{
  max-width: 250px;
  border: 1px solid #cccccc;
  margin: 5px;
}