ul{
  list-style: none;
  padding: 0;
}

img{
  max-width: 100%;
}

/* main Object */
.octocat{
  width: 300px;
  display: inline-block;
  margin-right: 10px;
}

.octocat img{
  border: 1px solid grey;
}
/* Footer Area */


/* Authors Area */
.authors{
  width: 25px;
}